<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>

<h1>DaumTop PV</h1>
<div id="pvchart" style="height: 300px;"></div>
<h1>DaumTop Shopbox Click</h1>
<div id="clickchart" style="height: 300px;"></div>

<script>
new Morris.Line({
  element: 'pvchart',
  data: [
    <% for(var i=0; i< results.length; i++) { %>
    <% if(i > 0) { %>,<% } %>{ day : '<%= results[i].yyyymmdd %>', pc: <%= results[i].pv %>, mobile: <%= results[i].m_pv %> }
    <% } %>
  ],
  xkey: 'day',
  ykeys: ['pc', 'mobile'],
  labels: ['pc PV', 'mobile PV']
});

new Morris.Line({
  element: 'clickchart',
  data: [
    <% for(var i=0; i< results.length; i++) { %>
    <% if(i > 0) { %>,<% } %>{ day : '<%= results[i].yyyymmdd %>', pc: <%= results[i].click %>, mobile: <%= results[i].m_click %> }
    <% } %>
  ],
  xkey: 'day',
  ykeys: ['pc', 'mobile'],
  labels: ['pc Click', 'mobile Click']
});
</script>
